<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPFTP - File Sharing</title>
    <!-- Config will be injected by server -->
    <script id="app-config" type="application/json">{{.ConfigJSON}}</script>
    <script type="module" crossorigin src="/assets/index.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/css/index.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
